/* PHASE 5: Cats */
.content-header {
  position: relative;
  border-bottom: 1px solid black;
  background-size: cover;
  height: 200px;
  width: 100%;
  background-image: url(../images/cats.jpg);
}

.content-header h1 {
  position: absolute;
  color: white;
  font-size: 30px;
  /* margin: auto; */
  left: 37%;
  top: 82%;
}
.content-header button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border-radius: 5px;
  width: 126px;
  height: 38px;
  font-weight: bold;
  border: 1px solid black;
  text-align: center;
}
.content-header button:hover {
  background-color: #eee;
}